@model IEnumerable<Adventure.Web.ViewModel.PurchaseHeaderModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            PurchaseOrderID
        </th>
        <th>
            RevisionNumber
        </th>
        <th>
            VendorID
        </th>
        <th>
            ShipMethodID
        </th>
        <th>
            OrderDate
        </th>
        <th>
            ShipDate
        </th>
        <th>
            SubTotal
        </th>
        <th>
            TaxAmt
        </th>
        <th>
            Freight
        </th>
         <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PurchaseOrderID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RevisionNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VendorID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShipMethodID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShipDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubTotal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TaxAmt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Freight)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PurchaseOrderID }) |
            @Html.ActionLink("Details", "Details", new {  id=item.PurchaseOrderID }) |
            @Html.ActionLink("Delete", "Delete", new {  id=item.PurchaseOrderID})
        </td>
    </tr>
}

</table>
